b,
.accordion-body,
.accordion-body p,
.accordion {
    background-color: white;
}

.accordion-body {
    line-height: 1em;
}
  
.accordion-button:not(.collapsed),
.accordion-button {
    color: #000; 
}

.accordion {
    color: white;
}

.accordion-button:not(.collapsed) b,
.accordion-button:not(.collapsed) {
    background-color: #fad99c;
}
  